.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  text-align: left;
}

.weather-wrapper {
  max-width: 600px;
  margin: 15px auto;
  padding: 5px;
  border: 1px solid #448bf4;
  border-radius: 20px;
}

.forecastInfo {
  display: flex;
  justify-content: space-evenly;
}

.convertStatement {
  text-align: center;
  font-size: 12px;
}