#cityName {
  margin-left: 25px;
  margin-bottom: 0;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  margin-right: 25px;
}

.unit,
.divider {
  font-size: 14px;
  position: relative;
  top: -15px;
}

a {
  text-decoration: none;
}

.currentinfo {
  display: block;
  margin-left: 25px;
  margin-top: 0;
  font-size: 14px;
  color: grey;
}
