body {
  text-align: center;
}

.day {
  color: grey;
  text-align: center;
}

.forecastIcon {
  text-align: center;
}

.forecastTemp {
  font-size: 13px;
}

.forecast {
    display: flex;
    text-align: center;
}